<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
</head>
<body>
    <header>
        <h1>LOGIN</h1>
        <% if(erro){ %>
            <ul><% for(let i = 0; i < erro.length; i++ ){%>
               <li><%= erro[i].msg %></li> 
                <% } %>
            </ul>
        <% } %>
    </header>
    <main>
        <form action="/verificar" method="post">
            <label for="email">Usuario</label>
            <input type="text" name="email" value="">
            <label for="senha">Senha</label>
            <input type="password" name="senha" value="">
            <button type="submit">Entrar</button>
        </form>
        <a href="../cadastrar">cadastrar usuario</a>
    </main>
    <footer>
        <p>Restaurante do IAGO CRUZ</p>
    </footer>
</body>
</html>