<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <header>
        <h1>Alterar</h1>
        <% if(erro){ %>
            <ul><% for(let i = 0; i < erro.length; i++ ){%>
               <li><%= erro[i].msg %></li> 
                <% } %>
            </ul>
        <% } %>
    </header>
    <main>
        <form action="/alterar" method="post">
            <label for="nome">Usuario</label>
            <input type="text" name="nome" value="<%= usuario.nome%>">
            <label for="email">Email</label>
            <input type="email" name="email" value="<%= usuario.email%>">
            <button type="submit">Alterar</button>
        </form>
    </main>
    <footer>
        <a href="/page_usuario">voltar</a>
        <p>Restaurante do IAGO CRUZ</p>
    </footer>
</body>
</html>
