<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Conta</title>
</head>
<body>  
    <header>
        <h1>Cadastrar</h1>
        <% if(erro){ %>
            <ul><% for(let i = 0; i < erro.length; i++ ){%>
               <li><%= erro[i].msg %></li> 
                <% } %>
            </ul>
        <% } %>
    </header>
    <main>
        <form action="/cadastrar_usuario" method="post">
            <label for="nome">Usuario</label>
            <input type="text" name="nome" value="<%= usuario.nome%>">
            <label for="senha">Senha</label>
            <input type="text" name="senha" value="<%= usuario.senha%>">
            <label for="email">Email</label>
            <input type="email" name="email" value="<%= usuario.email%>">
            <button type="submit">Cadastrar</button>
        </form>
        <a href="/">Login</a>
    </main>
    <footer>
        <p>Restaurante do IAGO CRUZ</p>
    </footer>
</body>
</html>
