<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>chegamos aqui</h1>
    <a href="/page_alterar">ALTERAR</a>
    <a href="/cardapio">voltar</a>
    <a href="/encerrar_sessao">Sair</a>
</body>
</html>